<div class="mt-4">
  <form method="POST" action="">
    <div class="mb-3">
      <label for="exampleInputSearch" class="form-label">Search input</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputSearch"
        placeholder="write some thing ..."
        name="q"
      />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>